:root {
    --primary-color: #004aad;
    --yellow-color: #f2c31a;
    --dark-color: #010101;
    --white-color: #fff;
    --btn-color: #1578f9;

    --gray-color: #909090;
    --p-color: #7d7a7a;

    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 300;

    --h1-font-size: 56px;
    --h2-font-size: 48px;
    --h3-font-size: 38px;
    --h4-font-size: 34px;
    --h5-font-size: 30px;
    --h6-font-size: 24px;
    --p-font-size: 18px;
    --base-font-size: 16px;
    --button-font-size: 20px;

    --border-radius-large: 100%;
    --border-radius-medium: 80px;
    --border-radius-small: 40px;
}

@font-face {
    font-family: 'Plain';
    src: url('../localfonts/Plain-Regular.woff2') format('woff2'),
        url('../localfonts/Plain-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('../localfonts/Plain-Light.woff2') format('woff2'),
        url('../localfonts/Plain-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('../localfonts/Plain-Bold.woff2') format('woff2'),
        url('../localfonts/Plain-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate(0, -30px);
    }

    50% {
        transform: translate(0, 5px);
    }
}

body {
    font-family: var(--base-font-size);
}

/* CUSTOM BUTTON */
.custom-btn {
    background-color: var(--btn-color);
    border: none;
    border-radius: var(--border-radius-medium);
    color: var(--yellow-color);
    letter-spacing: 0.2px;
    padding: 6px 36px;
    font-size: var(--button-font-size);
    white-space: nowrap;
}

.custom-btn:hover,
.custom-btn:focus {
    background: var(--primary-color);
    color: var(--yellow-color);
}

/* General */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.4s linear;
}

a:hover {
    color: var(--yellow-color);
}

.navbar {
    background: var(--yellow-color);
    padding: 0.3rem 1rem;
    z-index: 99;
    width: 100%;
}

.navbar.scroll {
    background: var(--menu-bg-color);
    padding: 0.5rem 1rem;
    position: fixed;
    opacity: 1;
}

.navbar-brand {
    font-weight: var(--font-weight-light);
    font-size: var(--h4-font-size);
}

.navbar-toggler {
    border: 0;
    padding: 0;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 30px;
    height: 35px;
    outline: none;
}


#form {
    position: relative;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 500px !important;
    padding: 10px 15px !important;
    resize: none;
    outline: 0;
}

.form-group select {
    height: 45px !important;
}

.gender {
    display: flex !important;
    width: 300px !important;
}

.gender input {
    width: 13px !important;
    height: 13px !important;
    margin: 6px 3px 0 19px !important;
}

.buttons {
    display: flex;
    justify-content: center;
}
/* wave */

html,
body {
    height: 100%;
}

body {
    background: radial-gradient(rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #b7e8eb 100%);
}

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--primary-color);
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    left: 0;
    height: 198px;
    transform: translate(0, 0, 0);
    animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
    top: -168px;
    animation: swell 4s ease infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}