@font-face {
    font-family: 'Plain';
    src: url('../localfonts/Plain-Regular.woff2') format('woff2'),
        url('../localfonts/Plain-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('../localfonts/Plain-Light.woff2') format('woff2'),
        url('../localfonts/Plain-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plain';
    src: url('../localfonts/Plain-Bold.woff2') format('woff2'),
        url('../localfonts/Plain-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

:root {
    --primary-color: #004aad;
    --yellow-color: #f2c31a;
    --dark-color: #010101;

    --gray-color: #909090;
    --p-color: #7d7a7a;

    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 300;

    --h1-font-size: 56px;
    --h2-font-size: 48px;
    --h3-font-size: 38px;
    --h4-font-size: 34px;
    --h5-font-size: 30px;
    --h6-font-size: 24px;
    --p-font-size: 18px;
    --base-font-size: 16px;
    --button-font-size: 20px;

    --border-radius-large: 100%;
    --border-radius-medium: 80px;
    --border-radius-small: 40px;

}

body {
    font-family: var(--base-font-size);
}

/* tipografi */

h1 {
    font-size: var(--h1-font-size);
}

h1,
h3 {
    font-weight: var(--font-weight-light);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-weight: var(--font-weight-bold);
    font-size: var(--h6-font-size);
}

p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    letter-spacing: 0.3px;
    line-height: 2em;
}

.section-padding {
    padding: 6rem 0;
}

.custom-icon {
    font-size: 12px;
    position: relative;
    bottom: 3px;
    left: 5px;
    transform: rotate(-25deg);
}


/* CUSTOM BUTTON */
.custom-btn {
    background: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-medium);
    color: var(--yellow-color);
    letter-spacing: 0.2px;
    padding: 6px 36px 10px 36px;
    font-size: var(--button-font-size);
    white-space: nowrap;
}

.custom-btn:hover,
.custom-btn:focus {
    color: var(--primary-color);
    background: var(--yellow-color);
}