* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .box {
    height: 86vh;
    width: 75%;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 10;
    display: flex;
    position: relative;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
}

section::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(#c1d9fb, #cbd1f8);
    transform: translate(490px, 150px);
}

section .box nav.navbar {
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    margin: 15px auto;
    padding: 20px;
    background-color: transparent !important;
}

section .box nav .container-fluid>div {
    flex: none;
}

section .box nav div>a {
    font-size: 35px;
    color: #004aad;
    font-weight: bold;
    margin-top: 5px;
}

section .box nav div>a:hover {
    color: #f2c21a;
}

section .box nav div .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #004aad;
    transition: 0.3s
}

section .box nav div .navbar-nav .nav-link:hover {
    color: #f2c21a;
}

section .box nav div .navbar-nav .nav-link.active {
    color: #f2c21a;
}

section .box nav div .navbar-nav .nav-link.active:hover {
    color: red;
}

section .box .contains {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8%;
    padding-left: 80px;
}

.contains .section-1 {
    position: relative;
    width: 40%;
}

.contains .section-1 h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    color: #242329;
}

.contains .section-1 h3 {
    color: #004aad;
    margin-bottom: 10px;
    font-size: 24px;
}

.contains .section-1 p {
    font-size: 18px;
    color: #505052;
    margin-bottom: 50px;
}

.contains .section-1 .btn {
    padding: 15px 20px;
    background-color: #004aad;
    border: 1px solid #004aad;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}

.contains .section-1 .btn:hover {
    color: #004aad;
    transition: 0.3s;
    background-color: #f2c21a;
    border: 1px solid;
}

.contains .section-2 {
    width: 40%;
    margin-right: 50px;
}

.contains .section-2 img {
    width: 100%;
    border-radius: 10px;
}

.contains .section-3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 10px;
    top: 30%;
}

.contains .section-3 a i {
    font-size: 25px;
    cursor: pointer;
    color: #7c8bd1;
    transition: 0.3s;
}

.contains .section-3 i:hover {
    color: #004aad;
}